* {
    margin: 0;
}

@media (max-width: 500px) {
    
    #wrapper {
        display: grid;
        min-height: 100vh;
        grid-template-rows:10vh auto auto auto;
        grid-template-areas: 
            'hd'
            'nav'
            'mn'
            'ft';
    }
    


header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px;
}

nav {
    grid-area: nav;
    background-color: aqua;
    position: fixed;
    right: -100vh;
    width: 100vw;
    height: 50vh;
    transition: right 0.3s;
}


main {
    grid-area: mn;
}



footer {
    grid-area: ft;
    background-color: aquamarine;
}
.menu {
    position:fixed;
    right:-100vw;
    height: 50vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: auto;
}

.menu ul li{
    margin:10px;
    font-size: 1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    box-sizing: border-box;
}

.menu ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}


.show{
    right: 0;
}

.fade-layer{
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

}

@media (min-width: 600px) {
    header {
        background-color: brown;
    }
}